/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
a{
  text-decoration: none;
  color: #333;
}

.bg-gray{
  background-color: #999;
}
.bg-dark-blue{
  background-color: #0e1e2b;
}
.bg-light-blue{
  background-color: #1c3d52;
}
.bg-dark-3{
  background-color: #333;
}
.header{
  margin-bottom: 1.51em;
  position: sticky;
  background-color: white;
}
.btn-biru{
  background-color: #1c3d52;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.btn-biru:hover{
  color: #fff;
  transform: scale(0.9);
}
.alert{
  padding: 0.5em;
  width: 50%;
}

/* CSS SIDEBAR */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  background-color: #0e1e2b;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 12px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #1c3d52;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1c3d52;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job
{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 15 px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1c3d52;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* CSS form-group page */
form .form-group{
  padding-bottom: 1em;
}
form .form-group label{
  padding-bottom: 0.5em;
}
.form-group input, select{
  max-width: 400px;
}
.page-box{
  background-color: white;
  padding: 1.5em;
  border-radius: 5px;
  margin: 1em;
}

/* DASHBOARD CSS */
.dashboard{
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.box{
  padding: 1em;
  background: white;
  border-radius: 10px;
  display: flex;
  margin: 0.3em;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail{
  padding: 0.5em;
  background: #ededed;
  border-radius: 10px;
  margin: 0.3em;
  width: 6em;
  color: #333;
  text-align: center;
  margin-left: 5em;
  margin-top: -3em;
}
.detail h6{
  margin-bottom: 0px;
}
.detail2{
  padding: 0.5em;
  background: #ededed;
  border-radius: 10px;
  margin: 0.3em;
  width: 6em;
  color: #333;
  text-align: center;
  margin-top: 1em;
}
.detail2 button{
  border: none;
}
.ihome{
  margin-block: auto;
  background-color: #1c3d52;
  border-radius: 1em;
  text-align: center;
  padding: 0.7em 0.5em 0.5em 0.5em;
}
.ihome i{
  font-size: 4.5em;
  width: 100%;
  color: #fff;
}
.ehome{
  margin-left: 20px;
  margin-top: 10px;
}
.ehome h5{
  color: #666;
}
.ehome h1{
  font-weight: 600;
}

/* CSS Laporan */
div.dataTables_wrapper div.dataTables_info{
  margin-top: 1em;
  margin-bottom: -2em;
}
table.table-bordered.dataTable{
  padding-top: 0.7em;
}
.btn-group{
  display: inline-block;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border: none;
  background: #1c3d52;
  margin-bottom: -6em;
}
div.dataTables_wrapper div.dataTables_filter{
  margin-top: -2em;
}
.form-control:focus{
  box-shadow: none;
}
/* #tblLaporan{
  padding-top: 0.7em;
} */
.page-item.active .page-link{
  background: #1c3d52;
  border-color: #1c3d52;
}
.page-link{
  border: 1px solid #dee2e6;
  color: #333;
}
.page-link:hover{
  color: #333;
}
tbody, td, tfoot, th, thead, tr{
  border-style: ridge;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter{
  margin-top: 1.5em;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
  padding-top: 1em;
}
div.dt-button{
  margin-bottom: -6em;
}
.form-select:focus{
  box-shadow: none;
}
table.table-bordered.dataTable thead tr:first-child th{
  font-weight: 600;
}

/* calendar */
.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}